*{
    padding: 0;
    margin: auto;
}
body {
    width: 100%;
    /* background-color: rgb(231, 231, 231); */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    width: 100%;
    height: 8vh;
    background-color: #1b2430;    
}
.navbar div {
    width: 95%;
    margin: auto;
    
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0 0 25px;
    align-items: center;
    justify-content: space-around;
}
/* .logo {
   height: 40px;
   padding: 8px 8px 0 0;
} */
.nav-link {
    width: 100%;
    height: 5vh;
    background-color: #293d58;
}
ul.nav-items{
    width: 55%; 
    padding-top: 5px;
    display: flex;
    left: 0;
    list-style: none;
}
/* li.nav-item a{
    padding-top: 5px;
    list-style: none;
    text-decoration: none;
} */
.nav-items li a{
    color: white;
    margin-right: 25px;
    padding-top: 10px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
/* -------------------------------------------------- */
.header-container{
    position: relative;
    width: 95%;
    height: 90vh;
    margin: 0 auto;
    /* background-color: rgb(40, 133, 214); */
}
table{
    width: 80%;
    height: 100%;
    /* border: 1px solid black; */
    justify-content: space-around;
    margin-top: 1%;
    position: absolute;
    left: 20%;
}
tr,td{
    height:120px;
    border-right: 1px solid rgb(186, 186, 186);
    border-bottom: 1px solid rgb(186, 186, 186);
}
td:first-child{
    width: 35%;
    /* background-color: rgb(179, 179, 179); */
}
.product-image{
    height: 120px;
    width: auto;
    margin-left: 35%;
}
td:last-child{
    width: 65%;
    /* background-color: rgb(179, 179, 179); */
    text-align: left;
}
td:last-child h3,p,button{
    margin-left: 30px;
}
td:last-child h3,a{
    text-decoration: none;
}
td:last-child p{
    padding-top: 5px;
    font-size: 12px;
}
.product-price{
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
    color: rgb(2, 43, 43);
}
.product-price span:last-child{
    margin-top: -30px;

}

button.add-to-cart{
    padding: 10px;  
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
    top: -50px;
}

.footer{
    width: 100%;
}
.footer p:first-child{
    font-size: 22px;
    font-weight: bold;
}
.footer p:last-child{
    margin-top: 20px;
}
.buttons{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    background-color: #293d58;
   
}
.buttons button{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
 
}

.back-to-top a{
    color: white;
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
    
}
.text-area-container {
    position: relative;
    width: 95%;
    height: 20vh;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(11, 73, 129);

}
.text-area-container textarea {
    position:absolute;
    width: 95%;
    height: 18vh;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    border-radius: 5px;

}

.footer {
    margin-top: 10px;
    bottom: -50%;
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #1b2430;    
    text-align: center;
}
.footer p {
    top: 30%;
    height: 20px;
    text-align: center;
    position: relative;
    color: white;
}
/* -----------Changing Action--------- */

.change-text-color{
    color: aqua;
}
.changeBG{
    background-color: #d1e2f8;
}
.hide-image{
    opacity: 0;
}
